:root {
	--color-light: #f2f2f2;
	--color-dark: #22282a;
	--color-accent: #ffbf00;
	--color-accent-dark: #db9200;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Abel', sans-serif;
}
html, body {
	font-size: 100%;
}
span.page-name {
	display: none;
}
div.index.page {
	background-color: var(--color-light);
}

/*Header*/
header > div.header.top-bar {
	background-color: var(--color-dark);
	text-align: right;
	width: 100%;
	height: auto;
	z-index: 1;
}
form#loginForm,
form#logoutForm {
	display: inline-block;
	padding: 0.3em;
}
form#loginForm > input,
form#logoutForm > input {
	font-size: 1.1em;
	padding: 0.2em 1em;
	margin-right: 1em;
	margin-left: 0;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	border: none;
	border-radius: 0.5em;
	background-color: rgba(255, 255, 255, 0.4);
	color: var(--color-dark);
}
form#loginForm > input::selection {
	background-color: var(--color-accent);
	color: var(--color-dark);
}
form#loginForm > input:focus,
form#logoutForm > input:focus {
	outline: 0;
} {
	outline: 0;
}
form#loginForm > input[type=submit],
form#logoutForm > input[type=submit] {
	background-color: var(--color-accent);
}
form#loginForm > input[type=submit]:hover,
form#logoutForm > input[type=submit]:hover {
	background-color: var(--color-accent-dark);
}
input.login-form::placeholder {
	font-style: italic;
	color: var(--color-dark);
}
input.login-form:-webkit-autofill {
	/* Safari support - any positive time runs instantly */
	-webkit-animation-delay: 1s;
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}
a#registerBtn {
	text-decoration: none;
	font-size: 1.1em;
	padding: 0.15em 0.65em;
	margin: 0.5em 1em 0.5em 0;
	border: 1px solid transparent;
	color: var(--color-accent);
}
a#registerBtn:hover {
	color: var(--color-accent-dark);
	border: 1px solid var(--color-accent-dark);
	border-radius: 0.5em;
}

p.login-error {
	color: red;
	font-size: 1.1em;
	text-align: right;
	padding: 0.5em 1.7em;
}


div.header.top-background {
	background-image: url(../images/piano.jpg);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	width: 100%;
	height: 10em;
	overflow: hidden;
}
div.header.logo-box {
	background: rgba(255,255,255,0.7);
	max-width: 15em;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1em;
	box-sizing: border-box;
}
img.header.logo-img {
	height: 4.5em;
	width: auto;
}
div.header.logo-text-box {
	max-width: 10.5em;
	display: flex;
	flex-direction: column;
}
div.header.logo-text {
	font-size: 2.5em;
	text-align: center;
}
small.header.logo-text {
	width: 100%;
	font-size: 1.2em;
	margin-top: -0.5em;
	text-align: center;
}
ul.header.main-menu {
	background-color: var(--color-accent);
	display: flex;
	flex-direction: row;
	overflow: hidden;
}
ul.header.main-menu > li {
	list-style-type: none;
}
a.header {
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 1.5em;
	padding: 0.5em 0.8em;
}
a.header:not(.active) {
	color: var(--color-dark);
}
a.header:hover:not(.active) {
	background-color: var(--color-accent-dark);
}
a.active {
	background-color: var(--color-dark);
	color: var(--color-light);
}

/* next goal - media-queries < 650px */