main#mainRegister {
	min-height: 60vh;
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), 
		rgba(0, 0, 0, 0.6)), 
		url(../images/banner_background_2.jpg) 
		no-repeat 
		fixed 0 /
		cover;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.register-background {
	background: linear-gradient(
		rgba(255, 255, 255, 0.6),
		rgba(255, 255, 255, 0.6)
	);
	width: 25em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 4em 0;
	box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.75);
}
h1.register-title {
	margin-top: 0.3em;
	text-align: center;
	color: var(--color-dark);
}
form#registerForm {
	display: flex;
	flex-direction: column;
	width: 20em;
	text-align: center;
}
p.required-info {
	color: var(--color-dark);
	font-size: 1.1em;
}
input.register-form-input {
	font-size: 1.3em;
	padding: 0.2em 0.5em;
	margin: 0.6em 0;
	border: none;
	border-radius: 0.5em;
	background-color: rgba(255, 255, 255, 0.4);
	color: var(--color-dark);
}
input.register-form-input::selection {
	background-color: var(--color-accent);
	color: var(--color-dark);
}
input.register-form-input:focus{
	outline: 0;
}
input[type=submit].register-form-input {
	width: 5em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1.5em;
	background-color: var(--color-accent);
	color: var(--color-dark);
	cursor: pointer;
	transition: 1s;
}
input[type=submit].register-form-input:hover {
	background-color: var(--color-accent-dark);
}
input.register-form-input::placeholder {
	font-style: italic;
	color: var(--color-dark);
}
@-webkit-keyframes autofill {
	0%,100% {
		color: var(--color-dark);
		background-color: rgba(255, 255, 255, 0.4);
	}
}
input.register-form-input:-webkit-autofill {
	/* Safari support - any positive time runs instantly */
	-webkit-animation-delay: 1s;
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}
p.registration-error-group1 {
	color: darkred;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	width: 100%;
}
p.registration-error-group2 {
	color: darkred;
	font-weight: bold;
	font-size: 1.1em;
	text-align: justify;
	width: 100%;
}
p.registration-successful {
	color: green;
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
	margin: 1em 0;
	padding: 0.3em 0.8em;
	border: 1.5px solid green;
	border-radius: 0.5em;
}

/* Media queries */
@media screen and (max-width: 620px) {
	div.register-background {
		width: 23em;
	}
	form#registerForm {
		width: 19em;
	}
}

@media screen and (max-width: 450px) {
	div.register-background {
		width: 100%;
		margin: 1px 0 0 0;
		box-shadow: none;
	}
	form#registerForm {
		width: 85%;
	}
	h1.register-title {
		margin-top: 30px;
	}
	input[type=submit].register-form-input {
		margin-bottom: 50px;
	}
}